*.[oa]
configure
config.log
config.status
config.rpath
config.h
config.h.in
cscope.out
doxy.config
Makefile
Makefile.in
Makefile.in.in
*.so
*.so.[0-9].[0-9].[0-9]
*.a
*.l[oa]
*.py[oc]
*.pydevproject
.deps
.libs
*.html
*.[0-9]
*.pc
autom4te.cache
libtool
stamp-h1
m4/
aclocal.m4
depcomp
ltmain.sh
missing
.dirstamp
sssd.spec
*.gmo
*.header
*.sed
*.sin
Makevars.template
POTFILES
Rules-quot
stamp-po
ABOUT-NLS
build
*.patch
*.swp
*.X
tags
*~
.vscode/
contrib/ding-libs.spec

# Testing
*_ut*
*.out
foo.conf
test-suite.log
test.ini
bom2be
bom2le
bom3
bom4be
bom4le
dhash_example*
dhash_test*
merge.validator.*
test_real*
modtest.conf.*
real.conf.manual

# Doxyfiles
basicobjects/basicobjects.cfg.doxy
collection/collection.cfg.doxy
ini/ini_config.cfg.doxy
refarray/ref_array.cfg.doxy